# SPDX-License-Identifier: Apache-2.0
# Copyright 2023 Canonical Ltd.

name: Main workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Unit tests
        run: go test ./...

      - name: Build
        run: go build
